export(RNGstr)
export(RNGtype)
export(showRNG)
export(RNGinfo)
export(checkRNG)
export(RNGseed)
export(RNGrecovery)
export(getRNG)
export(hasRNG)
export(.getRNG)
export(getRNG1)
export(nextRNG)
export(setRNG)
export(.setRNG)
export(RNGdigest)
export(rng.equal)
export(rng1.equal)
export(RNGseq)
export(RNGseq_seed)
import(stringr)
import(digest)
import(methods)
import(pkgmaker)
