export(.getRNG)
export(.setRNG)
export(RNGdigest)
export(RNGinfo)
export(RNGrecovery)
export(RNGtype)
export(getRNG)
export(getRNG1)
export(nextRNG)
export(rng.equal)
export(rng1.equal)
export(setRNG)
